:root {
  --color-red: hsl(0, 78%, 62%);
  --color-cyan: hsl(180, 62%, 55%);
  --color-orange: hsl(34, 97%, 64%);
  --color-blue: hsl(212, 86%, 64%);
  --color-shadow: hsla(212, 86%, 44%, 0.2);
  --color-gray-light: hsl(0, 0%, 98%);
  --color-gray: hsl(229, 6%, 66%);
  --color-gray-dark: hsl(234, 12%, 34%);
  --size-body-line-height: 1.6;
  --size-body-font: 0.9375rem;
  --size-container-max-width: 1174px;
  --size-container-padding: 32px;
  --size-intro-margin-bottom: 78px;
  --size-grid-gap: 24px;
  --size-card-padding: 28px;
  --size-card-image-padding-top: 20px; }

@media (min-width: 750px) {
  :root {
    --size-body-line-height: 1.8;
    --size-intro-margin-bottom: 68px;
    --size-grid-gap: 30px;
    --size-card-padding: 32px;
    --size-card-image-padding-top: 24px; } }

*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  font-family: 'Poppins', sans-serif;
  color: var(--color-gray);
  box-sizing: border-box;
  background-color: var(--color-gray-light); }

body {
  margin: 0;
  font-size: var(--size-body-font);
  line-height: var(--size-body-line-height); }

h1 {
  font-size: 1.5rem;
  font-weight: 200;
  line-height: 1.4;
  color: var(--color-gray-dark); }

h2 {
  font-size: 1.25rem;
  color: var(--color-gray-dark); }

img {
  display: block;
  max-width: 100%; }

strong {
  font-weight: bold; }

a {
  text-decoration: none; }

@media (min-width: 750px) {
  h1 {
    font-size: 2.25rem;
    margin-bottom: 0; } }

.container {
  max-width: var(--size-container-max-width);
  padding: 0 var(--size-container-padding);
  margin: 86px auto 78px; }

.intro {
  margin-bottom: var(--size-intro-margin-bottom);
  text-align: center; }
  .intro__text {
    margin-left: auto;
    margin-right: auto;
    max-width: 36em; }
  .intro > *:first-child {
    margin-top: 0; }
  .intro > *:last-child {
    margin-bottom: 0; }

.cards {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  gap: var(--size-grid-gap); }
  .cards__link {
    color: inherit;
    display: block; }
  .cards__card {
    background-color: white;
    padding: 22px var(--size-card-padding) var(--size-card-padding);
    border-radius: 8px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    box-shadow: 0 16px 24px -8px var(--color-shadow);
    border-top: 4px solid; }
    .cards__card > *:first-child {
      margin-top: 0; }
    .cards__card--red {
      border-color: var(--color-red); }
    .cards__card--orange {
      border-color: var(--color-orange); }
    .cards__card--blue {
      border-color: var(--color-blue); }
    .cards__card--cyan {
      border-color: var(--color-cyan); }
  .cards__title {
    margin-bottom: 0; }
  .cards__text {
    font-size: 0.8125rem;
    margin-top: 0.375rem; }
  .cards__image {
    margin-left: auto;
    padding-top: var(--size-card-image-padding-top); }

@media (max-width: 749px) {
  .cards__image {
    max-width: 56px; } }

@media (min-width: 750px) {
  .cards {
    align-items: center;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: 'a1 a2 a4' 'a1 a3 a4'; }
    .cards > *:nth-child(1) {
      grid-area: a1; }
    .cards > *:nth-child(2) {
      grid-area: a2; }
    .cards > *:nth-child(3) {
      grid-area: a3; }
    .cards > *:nth-child(4) {
      grid-area: a4; }
    .cards__card {
      transition: transform 0.3s; }
      a:hover .cards__card,
      a:focus .cards__card {
        transform: translateY(-4px); } }
