.intro {
  > * {
    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.form-container {
  text-align: center;
}

.pricing {
  margin: 0;
  background-color: var(--color-purple);
  margin-bottom: 24px;
  padding: 19px 15%;
  border-radius: var(--size-border-radius);
  box-shadow: 0 8px 0 rgba(0, 0, 0, 0.15);
}

@media (max-width: $media-sm-max) {
  .intro {
    text-align: center;
    margin-bottom: 70px;
  }
}

@media (min-width: $media-md-min) {
  .form-container {
    max-width: 540px;
    flex-basis: 60%;
  }

  .pricing {
    padding-top: 17.5px;
    padding-bottom: 17.5px;
  }
}
