.button {
  background-color: white;
  color: var(--color-purple);
  font-family: 'Poppins', sans-serif;
  font-size: 0.75rem;
  min-width: 200px;
  display: inline-block;
  text-align: center;
  padding: 0.8em;
  border-radius: 999px;
  box-shadow: 0 0.5em 0.7em -0.2em rgba(0, 0, 0, 0.4);
  margin: 0.4rem 0 0.75rem;
  transition: color 0.3s, background-color 0.3s;

  &:hover,
  &:focus {
    background-color: var(--color-pink);
    color: white;
  }
}

@media (min-width: $media-md-min) {
  .button {
    font-size: 1.125rem;
  }
}
