@mixin reset-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

@mixin fancy-gradient {
  background-image: linear-gradient(
    to right,
    var(--color-tag-html),
    var(--color-tag-css),
    var(--color-tag-js),
    var(--color-tag-api)
  );
}
