.card {
  border-radius: 14px;
  overflow: hidden;
  background-image: url(../images/bg-pattern-card.svg);
  max-width: 350px;
  width: 100%;
  padding-top: 140px;
  box-shadow: 0 30px 60px -20px rgba(0, 0, 0, 0.4);
}
