:root {
  --color-bg: hsl(185, 75%, 39%);
  --color-headings: hsl(229, 23%, 23%);
  --color-foreground: hsl(227, 10%, 46%);
  --color-border: hsl(0, 0%, 91%);

  --size-body-font: 1.125rem;
  --size-bg-pattern: 978px;
}
