// COMMON STYLES
input[type='range'] {
  -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
  width: 100%; /* Specific width is required for Firefox. */
  background: transparent; /* Otherwise white in Chrome */
}

input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
}

input[type='range']:focus {
  outline: none; /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
}

// THUMB STYLES
/* Special styling for WebKit/Blink */
input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: var(--size-range-thumb);
  width: var(--size-range-thumb);
  border-radius: 99px;
  border: 0;
  background-color: var(--color-range-thumb);
  box-shadow: 0 16px 32px hsla(174, 86%, 45%, 0.5);
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(../images/icon-slider.svg);
  cursor: pointer;
  margin-top: calc(
    (var(--size-range-thumb) * -0.5 + var(--size-range-track-height) * 0.5)
  );
}

input[type='range']:focus::-webkit-slider-thumb {
  background-color: var(--color-range-thumb-focused);
}

/* All the same stuff for Firefox */
input[type='range']::-moz-range-thumb {
  -webkit-appearance: none;
  height: var(--size-range-thumb);
  width: var(--size-range-thumb);
  border-radius: 99px;
  border: 0;
  background-color: var(--color-range-thumb);
  box-shadow: 0 16px 32px hsla(174, 86%, 45%, 0.5);
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(../images/icon-slider.svg);
  cursor: pointer;
  margin-top: calc(
    (var(--size-range-thumb) * -0.5 + var(--size-range-track-height) * 0.5)
  );
}

input[type='range']:focus::-moz-range-thumb {
  background-color: var(--color-range-thumb-focused);
}

// TRACK STYLES
input[type='range']::-webkit-slider-runnable-track {
  width: 100%;
  height: var(--size-range-track-height);
  cursor: pointer;
  background: var(--color-range-full);
  border-radius: 99px;
  border: 0;
}

input[type='range']::-moz-range-track {
  width: 100%;
  height: var(--size-range-track-height);
  cursor: pointer;
  background: var(--color-range-full);
  border-radius: 99px;
  border: 0;
}
