$media-sm-max: 1023px;
$media-md-min: 1024px;

:root {
  --color-purple: hsl(263, 55%, 52%);
  --color-gray: hsl(217, 19%, 35%);
  --color-dark-blue: hsl(219, 29%, 14%);
  --color-notwhite: hsl(210, 46%, 95%);
}
