.signup-form {
  display: flex;
  margin-top: 2.5rem;

  &__error {
    font-size: 0.625rem;
    padding: 0 2.5rem;
    color: var(--color-error);
    font-weight: bold;
  }
}

@media (max-width: $media-sm-max) {
  .signup-form {
    flex-direction: column;

    > * {
      + * {
        margin-top: 24px;
      }
    }
  }
}

@media (min-width: $media-md-min) {
  .signup-form {
    > * {
      + * {
        margin-left: 28px;
      }

      &:first-child {
        flex-grow: 1;
      }
    }
  }
}
