$media-md-min: 700px;

:root {
  --color-bg: hsl(204, 43%, 93%);
  --color-bg-section-subscription: hsl(179, 62%, 43%);
  --color-bg-section-why: hsl(179, 47%, 52%);
  --color-accent: hsl(71, 73%, 54%);
  --color-foreground: hsl(218, 22%, 67%);
}
