.flex-container {
  margin-bottom: 50px;
}

@media (min-width: $media-md-min) {
  .flex-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 70px;
  }
}
